<section class="pt-page pt-page-1" data-id="about_me">
  <div class="section-title-block">
    <h2 class="section-title">About Me</h2>
    <h5 class="section-description">Developer, Thinker, Creative Doer </h5>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 mobile-visible subpage-block">
      <div class="my-photo-small">
        <img src="images/photo_small.jpg" alt="image">
      </div>
    </div>
    <div class="col-sm-6 col-md-6 subpage-block">
      <div class="general-info">
        <h3>I am Full Stack Developer</h3>
        <p>Versatile full-stack developer with 10+ years' success designing and developing PHP, Golang and
          JS-based software
          solutions.
        </p>
        <p>
          Expertise developing and maintaining functional and stable code and processes to meet corporate
          requirements. Adept at
          troubleshooting and debugging applications. Equally capable of managing high-performing project
          teams or working
          independently to enhance performance and increase profitability. Expert negotiator and
          businessperson; able to forge
          solid relationships with partners and build consensus across multiple organizational levels. Fluent
          in English.
        </p>
      </div>
    </div>

    <div class="col-sm-4 col-md-4 subpage-block">
      <div class="block end">
        <ul class="info-list">
          <li><span class="title">Name</span><span class="value">Nikolay Noskov</span></li>
          <li><span class="title">Age</span><span class="value">31</span></li>
          <li><span class="title">Address</span><span class="value">Minsk, Belarus</span></li>
          <li><span class="title">e-mail</span><span class="value"><a
                href="mailto:me@noskov.dev">me@noskov.dev</a></span></li>
          <li><span class="title">Phone</span><span class="value">+375 33 616 3550</span></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 subpage-block">
      <div class="block-title">
        <h3>Testimonials</h3>
      </div>
      <div class="testimonials owl-carousel">

        <div class="testimonial-item">
          <div class="testimonial-content">
            <div class="testimonial-text">
              <p>"Nikolay is one of the most proactive and energetic engineers in my work experience. We've worked
                together for 3 years
                and during that time, he showed incredible passion to technologies, with great skills of mentorship and
                motivation of
                engineers around him. Also, he communicates well with POs and stakeholders and able to address the ideas
                and reasons to
                engineers in the right way. He tend to explain things visually, so he always has some notebook and
                pencils nearby.<br>
                Nikolay is really hardworking person truly committed in his work. In critical situations he's able to
                stay composed and
                resolve issues without extra panic."</p>
            </div>
          </div>
          <div class="testimonial-credits">
            <div class="testimonial-picture">
              <img
                src="https://media.licdn.com/dms/image/C4E03AQHRdkqdarUTMw/profile-displayphoto-shrink_100_100/0?e=1570060800&v=beta&t=ddG6yEJy41muzpJxIriKXhrHv5q34zKxJ4eHmqQssPU"
                alt="">
            </div>
            <div class="testimonial-author-info">
              <p class="testimonial-author">Eldar Amantay</p>
              <p class="testimonial-firm">Senior Frontend Developer at HelloFresh</p>
            </div>
          </div>
        </div>

        <div class="testimonial-item">
          <div class="testimonial-content">
            <div class="testimonial-text">
              <p>"I worked with Nikolay for two years. In those two years, I've seen Nikolay not just my tech director,
                but also an
                excellent developer, a mentor, a tech lead and later a good friend.<br>
                Nikolay is always up-to-date with modern technologies, always keen to learn and share his knowledge with
                others. He is a
                great influencer and helped many people not to just become a better developer, but also to develop their
                personal brand
                and successful careers. Nikolay can be a role model for anyone who is lucky to work with him.<br>
                <br>
                He is an excellent developer, tech lead, system architect.
                Nikolay has experience in running start-ups and successful businesses.<br>
                Any company will greatly benefit from having Nikolay in their team."</p>
            </div>
          </div>
          <div class="testimonial-credits">
            <div class="testimonial-picture">
              <img
                src="https://media.licdn.com/dms/image/C4E03AQHcn1r4PAwfOA/profile-displayphoto-shrink_100_100/0?e=1570060800&v=beta&t=g6cr8CevedGhsH9_p9i9I9-5CJlCPfijJmPr9WozbFQ"
                alt="">
            </div>
            <div class="testimonial-author-info">
              <p class="testimonial-author">Sergey Tkach</p>
              <p class="testimonial-firm">Frontend Developer at Officeworks</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Services block -->
  <!-- <div class="block-title">
              <h3>Services</h3>
            </div>

            <div class="row">
              <div class="col-sm-6 col-md-3 subpage-block">
                <div class="service-block">
                  <div class="service-info">
                    <img src="images/service/web_design.png" alt="Responsive Design">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-3 subpage-block">
                <div class="service-block">
                  <div class="service-info">
                    <img src="images/service/copywrite.png" alt="Copywriter">
                    <h4>Copywriter</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-3 subpage-block">
                <div class="service-block">
                  <div class="service-info">
                    <img src="images/service/ecommerce.png" alt="E-Commerce">
                    <h4>E-Commerce</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-3 subpage-block">
                <div class="service-block">
                  <div class="service-info">
                    <img src="images/service/management.png" alt="Management">
                    <h4>Management</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                  </div>
                </div>
              </div>
            </div> -->
  <!-- End of Services block -->

  <!-- Clients block -->
  <!-- <div class="block-title">
              <h3>Clients</h3>
            </div>

            <div class="row">
              <div class="col-sm-4 col-md-2 subpage-block">
                <div class="client_block">
                  <a href="#" target="_blank"><img src="images/clients/client_1.png" alt="image"></a>
                </div>
              </div>

              <div class="col-sm-4 col-md-2 subpage-block">
                <div class="client_block">
                  <a href="#" target="_blank"><img src="images/clients/client_2.png" alt="image"></a>
                </div>
              </div>

              <div class="col-sm-4 col-md-2 subpage-block">
                <div class="client_block">
                  <a href="#" target="_blank"><img src="images/clients/client_3.png" alt="image"></a>
                </div>
              </div>

              <div class="col-sm-4 col-md-2 subpage-block">
                <div class="client_block">
                  <a href="#" target="_blank"><img src="images/clients/client_4.png" alt="image"></a>
                </div>
              </div>

              <div class="col-sm-4 col-md-2 subpage-block">
                <div class="client_block">
                  <a href="#" target="_blank"><img src="images/clients/client_5.png" alt="image"></a>
                </div>
              </div>

              <div class="col-sm-4 col-md-2 subpage-block">
                <div class="client_block">
                  <a href="#" target="_blank"><img src="images/clients/client_6.png" alt="image"></a>
                </div>
              </div>
            </div> -->
  <!-- End of Clients block -->

  <!-- Fun facts block -->
  <!-- <div class="block-title">
        <h3>Fun Facts</h3>
    </div>

    <div class="row">

        <div class="col-sm-6 col-md-4 subpage-block">
            <div class="fun-fact-block">
                <i class="pe-7s-icon pe-7s-alarm"></i>
                <h4>Working Hours</h4>
                <span class="fun-value">6,256</span>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 subpage-block">
            <div class="fun-fact-block gray-bg">
                <i class="pe-7s-icon pe-7s-medal"></i>
                <h4>Awards Won</h4>
                <span class="fun-value">21</span>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 subpage-block">
            <div class="fun-fact-block">
                <i class="pe-7s-icon pe-7s-coffee"></i>
                <h4>Coffee Consumed</h4>
                <span class="fun-value">20,000</span>
            </div>
        </div>
    </div> -->
  <!-- End of Fun fucts block -->
</section>
<!-- End of About Me Subpage -->
