<!-- Resume Subpage -->
<section class="pt-page pt-page-2" data-id="resume">
    <div class="section-title-block">
        <h2 class="section-title">Resume</h2>
        <h5 class="section-description">11 Years of Experience</h5>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6 subpage-block">
            <div class="block-title">
                <h3>Courses</h3>
            </div>
            <div class="timeline">
                <div class="row">
                    <div class="col-sm-6 col-md-6 subpage-block">
                        <!-- Single event -->
                        <div class="timeline-event te-primary">
                            <h5 class="event-date">2019</h5>
                            <h4 class="event-name">Clojure Fundamentals For Beginners</h4>
                            <span class="event-description">udemy.com</span>
                        </div>
                        <!-- Single event -->
                        <div class="timeline-event te-primary">
                            <h5 class="event-date">2019</h5>
                            <h4 class="event-name">Learn Flutter & Dart to Build iOS & Android Apps</h4>
                            <span class="event-description">udemy.com</span>
                        </div>

                        <!-- Single event -->
                        <div class="timeline-event te-primary">
                            <h5 class="event-date">2018</h5>
                            <h4 class="event-name">Machine learning for beginners - neural networks</h4>
                            <span class="event-description">udemy.com</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 subpage-block">
                        <!-- Single event -->
                        <div class="timeline-event te-primary">
                            <h5 class="event-date">2017</h5>
                            <h4 class="event-name">Software Architecture for Software Engineers</h4>
                            <span class="event-description">udemy.com</span>
                        </div>
                        <!-- Single event -->
                        <div class="timeline-event te-primary">
                            <h5 class="event-date">2016</h5>
                            <h4 class="event-name">The Complete React Native and Redux Course</h4>
                            <span class="event-description">udemy.com</span>
                        </div>
                        <!-- Single event -->
                        <div class="timeline-event te-primary">
                            <h5 class="event-date">2015</h5>
                            <h4 class="event-name">Electron for Desktop Apps: The Complete Developer's Guide</h4>
                            <span class="event-description">udemy.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-title">
                <h3>Education</h3>
            </div>
            <div class="timeline">
                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">2011</h5>
                    <h4 class="event-name">Bachelor of Computer Science</h4>
                    <span class="event-description">Technical and Economic Academy of Cinema and Television</span>
                    <p>Almaty, Kazakhstan</p>
                </div>
                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">2007</h5>
                    <h4 class="event-name">Diploma, Software Engineering</h4>
                    <span class="event-description">Technical College of Central Asia</span>
                    <p>Almaty, Kazakhstan</p>
                </div>
            </div>
            <!-- Skills-->
            <div class="block-title">
                <h3>Frontend Skills</h3>
            </div>
            <div class="skills-info">
                <h4>CSS Frameworks: Bootstrap, Foundation, PureCSS, Bulma, MaterialUI, etc.</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-1"></div>
                </div>

                <h4>ReactJS</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-8"></div>
                </div>
                <h4>Svelte</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-3"></div>
                </div>
                <h4>Build tools: Webpack, Gulp, Rollup, Parcel</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-8"></div>
                </div>
                <h4>A11y</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-2"></div>
                </div>
            </div>

            <div class="block-title">
                <h3>Backend Skills</h3>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 ">

                    <div class="skills-info">
                        <h4>PHP</h4>
                        <div class="skill-container">
                            <div class="skill-percentage skill-4"></div>
                        </div>
                        <h4>Yii Framework</h4>
                        <div class="skill-container">
                            <div class="skill-percentage skill-4"></div>
                        </div>

                        <h4>Golang</h4>
                        <div class="skill-container">
                            <div class="skill-percentage skill-2"></div>
                        </div>

                        <h4>Python</h4>
                        <div class="skill-container">
                            <div class="skill-percentage skill-3"></div>
                        </div>


                    </div>
                </div>
                <div class="col-sm-12 col-md-6 ">
                    <div class="skills-info">
                        <h4>NodeJS</h4>
                        <div class="skill-container">
                            <div class="skill-percentage skill-4"></div>
                        </div>
                        <h4>Express</h4>
                        <div class="skill-container">
                            <div class="skill-percentage skill-4"></div>
                        </div>
                        <h4>Dart</h4>
                        <div class="skill-container">
                            <div class="skill-percentage skill-7"></div>
                        </div>

                        <h4>Clojure</h4>
                        <div class="skill-container">
                            <div class="skill-percentage" style="width:20%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-title">
                <h3>Data Skills</h3>
            </div>
            <div class="skills-info">
                <h4>SQL Databases: MySQL, PostgresSQL, MSSQL</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-4"></div>
                </div>

                <h4>NoSQL Databases: MondoDB, Redis, CouchDB</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-4"></div>
                </div>
                <h4>Search Engines: ElasticSearch, Sphinx</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-8"></div>
                </div>
                <h4>Queues: RabbitMQ, Kafka</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-2"></div>
                </div>
            </div>
            <div class="block-title">
                <h3>DevOps Skills</h3>
            </div>
            <div class="skills-info">
                <h4>Linux administration</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-4"></div>
                </div>
                <h4>Docker, Kubernetes</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-4"></div>
                </div>
                <h4>Ansible, Chef</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-8"></div>
                </div>
                <h4>Monitoring: Prometheus, Kibana, Graylog</h4>
                <div class="skill-container">
                    <div class="skill-percentage skill-8"></div>
                </div>
            </div>

        </div>

        <div class="col-sm-6 col-md-6 subpage-block">
            <div class="block-title">
                <h3>Experience</h3>
            </div>
            <div class="timeline">

                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">January 2017 - April 2019</h5>
                    <h4 class="event-name">Lead Engineer</h4>
                    <span class="event-description">Astana-Plat</span>
                    <p>
                        Comprehensive solutions for e-commerce to receive, handle payments, and deliver goods / products
                        /
                        correspondence.
                    </p>
                    <b>Key Achievements:</b>
                    <ul>
                        <li>Manage 26 engineers on five teams in design and development of PHP, Golang, and JS-based
                            software solutions.
                        </li>
                        <li>
                            Create, deliver, and maintain scalable system architecture to support high-availability
                            Internet
                            site with multiple
                            internal applications.
                        </li>
                        <li>
                            Lead process improvements, increasing team productivity by 70%, developing and implementing
                            Objectives and Key Results
                            (OKRs) for developers and teams.
                        </li>
                        <li>
                            Collaborate with developers and performance engineers to enhance supportability and identify
                            performance bottlenecks.
                        </li>
                        </li>
                        <li>
                            Implemented a continuous development system in most company projects, which reduced
                            50% on their deployment time.
                        </li>
                    </ul>

                </div>
                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">December 2008 - January 2017</h5>
                    <h4 class="event-name">Senior Full Stack Developer</h4>
                    <span class="event-description">Creative Group Vesna</span>
                    <p>
                        Company Creative Group Vesna is one of the most important IT solution providers in the country.
                    </p>
                    <b>Key Achievements:</b>
                    <ul>
                        <li>Built, implemented and maintained many user-friendly applications & back-end services
                            using PHP, NodeJS and ReactJS, demonstrating service-oriented architecture and focus on
                            client’s needs.</li>
                        <li>
                            Developed CMS generation tool, which reduced 80% of backend development time in
                            company.
                        </li>
                        <li>
                            Trained junior members of IT team regarding network security and troubleshooting of data
                            circuits.
                        </li>
                        <li>
                            Recommended architectural improvements, design and integration solutions.
                        </li>
                        <li>
                            Directed projects from concept to completion whilst managing outside vendors.
                        </li>
                    </ul>

                </div>
                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">May 2014 - September 2016</h5>
                    <h4 class="event-name">Senior Full Stack Developer</h4>
                    <span class="event-description">Shipper.io</span>
                    <p>
                        Maintained and developed bug fixes and patch sets for existing web applications, using pipe and
                        filter model to locate
                        bottlenecks and measure system performance. Championed progress web apps (PWA) and fast modern
                        web
                        technologies.
                    </p>
                    <b>Key Achievements:</b>
                    <ul>
                        <li>Developed modification/integration program to establish compatibility with third-party
                            software products.</li>
                        <li>Designed data architecture to enable analysts to perform targeted customer analysis.</li>
                    </ul>

                </div>
                <!-- Single event -->
                <div class="timeline-event te-primary">
                    <h5 class="event-date">June 2007 - December 2008</h5>
                    <h4 class="event-name">PHP Developer</h4>
                    <span class="event-description">SF7 Web Agency, Almaty, Kazakhstan</span>
                    <p>Directed software design and development whilst remaining focused on client needs. Worked
                        effectively with design teams
                        to ensure software solutions met client expectations. Modified existing software to correct
                        errors, upgrade interfaces,
                        and improve performance. Developed content-management system.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="download-cv-block">
                <a class="button" target="_blank" href="/nikolay-noskov-resume.pdf">Download CV</a>
            </div>
        </div>
    </div>
</section>
<!-- End Resume Subpage -->
