{{ partial "head.html" . }}

<body>
    <div class="preloader">
        <div class="preloader-animation">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>



    <div id="page" class="page">
        <!-- Header -->
        {{ partial "profile.html" . }}
        <!-- /Header -->

        <div id="main" class="site-main">
            <!-- Page changer wrapper -->
            <div class="pt-wrapper">
                {{ partial "nav.html" . }}

                <div class="subpages">
                    {{ partial "aboutme.html" . }}
                    {{ partial "resume.html" . }}
                    {{ partial "post-list.html" . }}

                </div>
            </div>
        </div>


        <section id="wrapper" class="home">
            {{ partial "pagination.html" . }}
            {{ partial "footer.html"     . }}
        </section>
    </div>
    {{ partial "js.html" . }}
</body>

</html>
